@model List<Product>


<h2>Favorilerim</h2>

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Price.ToString("C")</p>

                        <div class="d-flex justify-content-between">
                            <form asp-controller="Cart" asp-action="RemoveFromFavorites" method="post">
                            <input type="hidden" name="productId" value="@item.ProductID" />
                            <button type="submit" class="btn btn-danger">Favorilerden Çıkar</button>
                        </form>
                            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                <input type="hidden" name="productId" value="@item.ProductID" />
                                <input type="hidden" name="productName" value="@item.Name" />
                                <input type="hidden" name="price" value="@item.Price" />
                                <input type="hidden" name="imageUrl" value="@item.ImageUrl" />
                                <button type="submit" style="background-color:#b5e8b9" class="btn ">Sepete Ekle</button>
                            </form>
                            </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Favorilerinizde ürün bulunmamaktadır.</p>
}